* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-family: "Montserrat", serif;
}
body p {
  color: white;
}

.sticky-banner-container {
  width: 100%;
  height: 85px;
  background-color: #37393F;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 1000;
}
.sticky-banner-container .main-cta {
  color: #B4BD00;
  font-size: 18px;
  font-weight: bold;
  margin: 0px 15px 0 0;
}
.sticky-banner-container .main-cta .cta {
  color: white;
}
.sticky-banner-container img {
  width: 36px;
  height: 21.24px;
}
.sticky-banner-container .cta-btn {
  width: 140px;
  height: 35px;
  background-color: #B4BD00;
  color: black;
  margin-left: 70px;
  font-size: 14px;
  border: 1px solid black;
  border-radius: 5px;
}

.header-container {
  width: 847px;
  margin-top: 175px;
}
.header-container .subheader {
  font-size: 19px;
}

section {
  display: flex;
  justify-content: space-between;
  width: 847px;
  margin-top: 60px;
  margin-bottom: 60px;
}
section .card-subcontainer {
  width: 260px;
  height: 391px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, #1f1d1d, rgba(0, 0, 0, 0));
  border-radius: 30px;
}
section .card-subcontainer .card-header {
  margin-top: 32px;
  margin-bottom: 33px;
  min-height: 66px;
}
section .card-subcontainer p {
  font-size: 12px;
  width: 215px;
  text-align: center;
}
section .certification-container {
  width: 414px;
  height: 334px;
  padding: 50px 20px;
  border: 1px solid #B4BD00;
  border-radius: 25px;
  background: linear-gradient(to bottom, #1f1d1d, rgba(0, 0, 0, 0));
  margin-bottom: 125px;
}
section .certification-container .certification-header {
  display: flex;
  font-weight: bold;
}
section .certification-container .certification-header .certification-logo {
  width: 43px;
  height: 45px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
}
section .certification-container .certification-header .certification-logo img {
  width: 32px;
  height: 31px;
}
section .certification-container .certification-header .header-info {
  margin-left: 14px;
}
section .certification-container .certification-header .header-info h3 {
  font-size: 20px;
  width: 321px;
  color: white;
}
section .certification-container .certification-header .header-info .subheading-container {
  display: flex;
  align-items: center;
  margin-top: 4px;
}
section .certification-container .certification-header .header-info .subheading-container img {
  margin-right: 5px;
}
section .certification-container .certification-header .header-info .subheading-container .white-txt {
  color: white;
  margin-left: 5px;
}
section .certification-container .certification-body {
  margin-top: 20px;
}
section .certification-container .certification-body ul {
  margin-top: 25px;
  padding-left: 40px;
}
section .certification-container .certification-body ul li {
  color: white;
  font-weight: lighter;
  font-size: 12px;
  margin-top: 5px;
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 844px;
  height: 500px;
  background-color: #B4BD00;
  border-radius: 20px;
  margin-bottom: 150px;
  margin-top: 175px;
}
.form-section h3 {
  font-size: 30px;
  font-weight: bold;
  margin-top: 61px;
}
.form-section p {
  font-size: 16px;
  margin-top: 15px;
  width: 627px;
  text-align: center;
}
.form-section form {
  display: flex;
  justify-content: space-between;
  width: 766px;
  margin-top: 30px;
}
.form-section form .form-column {
  display: flex;
  flex-direction: column;
  width: 371px;
}
.form-section form .form-column input {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  border: none;
  padding-left: 25px;
}
.form-section form .form-column input::-moz-placeholder {
  font-weight: bold;
  font-size: 13px;
}
.form-section form .form-column input::placeholder {
  font-weight: bold;
  font-size: 13px;
}
.form-section form .form-column .terms-container {
  display: flex;
  flex-direction: column;
  height: 34px;
  margin-top: 15px;
}
.form-section form .form-column .terms-container .check-container {
  display: flex;
  align-items: center;
  height: 15px;
}
.form-section form .form-column .terms-container .check-container .checkbox {
  width: 13px;
  height: 13px;
  margin-top: 0px;
}
.form-section form .form-column .terms-container .check-container label {
  font-size: 9px;
  color: white;
  margin-left: 5px;
}
.form-section form .form-column button {
  width: 143px;
  height: 46px;
  font-size: 14px;
  background-color: #37393F;
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-top: 22px;
  margin-bottom: 40px;
}

.bgimg-container {
  width: 100%;
  height: 815px;
  position: relative;
  background-image: url("../IMG/bgimg.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bgimg-container .wrapper-container {
  width: 803px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 180px;
}
.bgimg-container .wrapper-container h3 {
  font-size: 30px;
  color: #B4BD00;
  text-align: center;
}
.bgimg-container .wrapper-container h3 span {
  color: white;
}
.bgimg-container .wrapper-container .logos-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 65px;
  width: 803px;
}
.bgimg-container .wrapper-container .logos-container img {
  margin: 5px;
}
.bgimg-container .wrapper-container button {
  width: 114px;
  height: 40px;
  background-color: #B4BD00;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 70px;
  font-size: 14px;
}

.bgimg-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0));
  pointer-events: none;
}

.card-section {
  display: flex;
  width: 847px;
  justify-content: space-between;
  margin-top: 75px;
}
.card-section .card-container {
  width: 202px;
  height: 242px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, #1f1d1d, rgba(0, 0, 0, 0));
  border-radius: 20px;
}
.card-section .card-container .iconcard-container {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background-color: #B4BD00;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -20px;
}
.card-section .card-container .card-title {
  text-align: center;
  color: #B4BD00;
  font-size: 14px;
}
.card-section .card-container .card-body {
  width: 160px;
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
  color: white;
  --bs-card-border-width: 0px;
  --bs-card-border-color: none;
}
.card-section .card-container .card-body .bold-txt {
  font-weight: bold;
  color: white;
}

.faq-section {
  width: 847px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
}
.faq-section .accordion-item {
  color: #B4BD00;
  background-color: none;
  border: none;
  width: 100%;
  --bs-accordion-active-color: $primary-color;
}
.faq-section .accordion-button::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='RGB(180, 189, 0)' stroke-linecap='round' stroke-linejoin='round'><path d='M2 5L8 11L14 5'/></svg>");
}
.faq-section .accordion-button:not(.collapsed) {
  color: white;
  background-color: none;
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}
.faq-section .accordion-button:not(.collapsed)::after {
  color: #B4BD00;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='RGB(180, 189, 0)' stroke-linecap='round' stroke-linejoin='round'><path d='M2 5L8 11L14 5'/></svg>");
  transform: var(--bs-accordion-btn-icon-transform);
}
.faq-section .faq-section .accordion-button:not(.collapsed) {
  color: black;
  background-color: none;
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}
.faq-section .accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
  font-size: 1rem;
  color: white;
  text-align: left;
  background-color: black;
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: var(--bs-accordion-transition);
}
.faq-section .accordion {
  --bs-accordion-color: $primary-color;
  --bs-accordion-bg: black;
  width: 100%;
}

.euro-container {
  display: flex;
  margin-top: 150px;
  width: 847px;
  align-items: center;
  margin-bottom: 300px;
}
.euro-container .euro-img-container {
  width: 72px;
}
.euro-container .euro-txt {
  width: 785px;
  font-size: 14px;
  margin: 0 0 0 15px;
  line-height: 15px;
}

footer {
  height: 300px;
  width: 100%;
  background-color: #B4BD00;
}

.title {
  color: #B4BD00;
  font-weight: bold;
  font-size: 40px;
}

.faq-title {
  margin-bottom: 50px;
  color: white;
}

.diploma {
  margin-bottom: 42px;
}

.width {
  width: 572px;
  text-align: center;
  margin-top: 80px;
  line-height: 123%;
}

.green-txt {
  color: #B4BD00;
}

.faq-txt {
  font-size: 14px;
}/*# sourceMappingURL=main.css.map */