$primary-color: #B4BD00;
$breakpoint-small: 600px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: "Montserrat", serif;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.title {
  color: $primary-color;
  font-weight: bold;
  font-size: 40px;

  @media (max-width: $breakpoint-small) {
    width: auto;
    font-size: 25px;
  }
}

.sticky-banner-container {
  width: 100%;
  height: 85px;
  background-color: #37393F;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 1000;

  @media (max-width: $breakpoint-small) {
    display: none;
  }

  .main-cta {
    color: $primary-color;
    font-size: 18px;
    font-weight: bold;
    margin: 0px 15px 0 0;

    .cta {
      color: white;
    }
  }

  img {
    width: 36px;
    height: 21.24px;
  }

  .cta-btn {
    width: 140px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
    color: black;
    margin-left: 70px;
    font-size: 14px;
    border: 1px solid black;
    border-radius: 5px;
  }
}

/* Hace que el contenedor use scroll vertical y aplique el snap */
.scroll-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.snap-section {
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: sans-serif;
}

.header-container {
  width: 847px;

  @media (max-width: $breakpoint-small) {
    width: 297px;
    margin-top: 120px;
  }

  .subheader {
    font-size: 19px;

    @media (max-width: $breakpoint-small) {
      font-size: 16px;
    }
  }
}

.card-wrapper {
  width: 847px;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .card-subcontainer {
    width: 260px;
    height: 391px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #1f1d1d, #0000);
    border-radius: 30px;

    .card-header {
      margin-top: 32px;
      margin-bottom: 33px;
      min-height: 66px;
    }

    p {
      font-size: 12px;
      width: 215px;
      text-align: center;
    }
  }
}

.wrapper-certif-section {
  width: 950px;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;

  .certification-container {
    width: 414px;
    height: fit-content;
    padding: 50px 20px;
    border: 1px solid $primary-color;
    border-radius: 25px;
    background: linear-gradient(to bottom, #1f1d1d, #0000);

    @media (max-width: $breakpoint-small) {
      width: 297px;
      height: auto;
      margin-bottom: 70px;
    }

    .certification-header {
      display: flex;
      font-weight: bold;

      .certification-logo {
        width: 43px;
        height: 45px;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 9px;

        @media (max-width: $breakpoint-small) {
          height: auto;
        }

        img {
          width: 32px;
          height: 31px;
        }
      }

      .header-info {
        margin-left: 14px;

        h3 {
          font-size: 20px;
          width: 321px;
          color: white;

          @media (max-width: $breakpoint-small) {
            font-size: 13px;
            width: auto;
          }
        }

        .subheading-container {
          display: flex;
          align-items: center;
          margin-top: 4px;

          img {
            margin-right: 5px;
          }

          .white-txt {
            color: white;
            margin-left: 5px;
          }
        }
      }
    }

    .certification-body {
      margin-top: 20px;

      ul {
        margin-top: 25px;
        padding-left: 40px;

        li {
          color: white;
          font-weight: lighter;
          font-size: 12px;
          margin-top: 5px;
        }
      }
    }

    .certification-footer {
      width: 100%;
      display: flex;
      justify-content: space-around;
      margin-top: 30px;
      margin-bottom: 20px;

      .btn-matriculacion {
        width: 132px;
        height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $primary-color;
        text-decoration: none;
        background-color: #161616;
        font-size: 14px;
        border-radius: 4px;
      }
    }
  }
}

.bgimg-container {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url("../IMG/bgimg.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: $breakpoint-small) {
    width: 390px;
    height: auto;
  }

  .wrapper-container {
    width: 803px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 180px;

    @media (max-width: $breakpoint-small) {
      width: 316px;
      margin-top: 90px;
    }

    h3 {
      font-size: 30px;
      color: $primary-color;
      text-align: center;

      span {
        color: white;
      }
    }

    .logos-container {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      align-items: center;
      margin-top: 65px;
      width: 803px;

      @media (max-width: $breakpoint-small) {
        width: 316px;
      }

      img {
        margin: 5px;
      }

    }

    button {
      width: 114px;
      height: 40px;
      background-color: $primary-color;
      color: white;
      border: none;
      border-radius: 5px;
      margin-top: 70px;
      font-size: 14px;

      @media (max-width: $breakpoint-small) {
        width: 115px;
        z-index: 1000;
      }
    }
  }
}

.bgimg-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  
  pointer-events: none;
}

.card-section {
  display: flex;
  width: 847px;
  justify-content: space-between;
  margin-top: 75px;

  @media (max-width: $breakpoint-small) {
    flex-direction: column;
    align-items: center;
    width: 311px;
  }

  .card-container {
    width: 202px;
    height: 242px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #1f1d1d, #0000);
    border-radius: 20px;

    @media (max-width: $breakpoint-small) {
      margin-bottom: 40px;
      width: 311px;
    }

    .iconcard-container {
      width: 36px;
      height: 36px;
      border-radius: 100%;
      background-color: $primary-color;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      top: -20px;
    }

    .card-title {
      text-align: center;
      color: $primary-color;
      font-size: 14px;
    }

    .card-body {
      width: 160px;
      font-size: 12px;
      text-align: center;
      margin-top: 10px;
      color: white;
      --bs-card-border-width: 0px;
      --bs-card-border-color: none;


      .bold-txt {
        font-weight: bold;
        color: white;
      }
    }

  }
}

.faq-section {
  width: 847px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (max-width: $breakpoint-small) {
    width: 316px;
  }

  .accordion-item {
    color: $primary-color;
    background-color: none;
    border: none;
    width: 100%;
    --bs-accordion-active-color: $primary-color;
  }

  .accordion-button::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='RGB(180, 189, 0)' stroke-linecap='round' stroke-linejoin='round'><path d='M2 5L8 11L14 5'/></svg>");
  }


  .accordion-button:not(.collapsed) {
    color: white;
    background-color: none;
    box-shadow: inset 0 calc(-1* var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
  }

  .accordion-button:not(.collapsed)::after {
    color: $primary-color;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='RGB(180, 189, 0)' stroke-linecap='round' stroke-linejoin='round'><path d='M2 5L8 11L14 5'/></svg>");
    transform: var(--bs-accordion-btn-icon-transform);
  }

  .faq-section .accordion-button:not(.collapsed) {
    color: black;
    background-color: none;
    box-shadow: inset 0 calc(-1* var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
  }

  .accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
    font-size: 1rem;
    color: white;
    text-align: left;
    background-color: black;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: var(--bs-accordion-transition);

    @media (max-width: $breakpoint-small) {
      font-size: 14px;
    }
  }

  .accordion {
    --bs-accordion-color: $primary-color;
    --bs-accordion-bg: black;
    width: 100%;
    margin-top: 50px;
  }
}

.euro-container {
  display: flex;
  margin-top: 150px;
  width: 847px;
  align-items: center;

  @media (max-width: $breakpoint-small) {
    width: 316px;
    flex-direction: column;
    align-items: flex-start;
  }

  .euro-img-container {
    width: 72px;

  }

  .euro-txt {
    width: 785px;
    font-size: 14px;
    margin: 0 0 0 15px;
    line-height: 15px;

    @media (max-width: $breakpoint-small) {
      width: 311px;
      margin: 20px 0px 0px 0px;
    }
  }
}

.diploma-img {
  width: 40%;
  margin-top: 20px;
}